* {
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    background-color: rgba(212, 212, 141, 0.389);
}


.outer-container {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.sub-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.title-container {
    margin: 8px auto;
    text-align: center;
}

.title-container img {
    margin-bottom: 24px;
    width: 300px;
    height: auto;
    border: 2px solid black;
}

.title {
    font-weight: bold;
    font-size: 38px;
}

.basic-container {
    margin: 10px auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 0 24px;
    background-color: rgba(255, 255, 0, 0.389);
}

.basic-container p {
    padding: 0 18px;
}


.recipe-list {
    display: block;
    width: 90%;
}

.recipe-list li {
    list-style: none;
    display: inline;
    padding: 8px 16px;
    margin: 8px;
    background-color: rgba(255, 255, 0, 0.389);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.recipe-list li, li a {
    color: black;
}

.ingredients-list li {
    color: black;
    margin: 8px;
}

.steps-list li {
    padding: 8px;
    margin-bottom: 8px;
    color: black;
}


h2 {
    font-weight: bold;
}


.home-url {
    font-size: 24px;
    color: black;
}